/* ========== CONTACT PAGE ========== */
.contact-page {
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}


.contact-banner {
    background: #f5f5f5;
    text-align: center;
    padding: 70px 0;
    border-bottom: 1px solid #ddd;
    background: url("https://www.furniro.store/assets/images/auth-background.webp") center/cover;
}

.contact-banner h2 {
    font-size: 28px;
    margin-bottom: 5px;
}

.contact-banner p {
    font-size: 14px;
    color: #666;
}


.contact-section {
    text-align: center;
    padding: 80px 100px;
}

.contact-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.subtitle {
    color: #666;
    font-size: 14px;
    margin-bottom: 60px;
}


.contact-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
    flex-wrap: wrap;
}

.contact-info {
    text-align: left;
    width: 300px;
}

.info-box {
    margin-bottom: 30px;
}

.info-box h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.info-box p {
    color: #666;
    font-size: 14px;
    margin: 4px 0;
}


.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
    text-align: left;
}

.contact-form label {
    font-size: 14px;
    font-weight: 500;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.contact-form textarea {
    height: 100px;
    resize: none;
}

.contact-form button {
    margin-top: 15px;
    background: #b88e2f;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
}

.contact-form button:hover {
    background: #a57d26;
}